
  @use 'sass:math';

//   @import 'components/base';  
//   @import 'components/_var';   
//    @import 'components/header/header';
//    @import 'components/grid';
//    @import 'components/sections';
//    @import 'components/button';
//    @import 'components/card';
//    @import 'components/fonts';
//    @import 'components/footer';
//    @import 'components/popup'; 
//    @import 'components/list';     
// @import 'modules/modules.scss';
// @import 'space';
@import 'additional';

// переменный
$white: #fff;
$black: #000;
$blue: #0090FF;
// ===========переменный



// переопределение стилей
#navigation{
  top: 0!important;
}
.section-dark {
  position: relative;
  // background: none!important;
  padding: 0!important;
  z-index: -1;
}
// =============переопределение стилей


.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}



.container {
}
.header-bg{
  background: url(../images/desktop/bg_grig_d.png) center no-repeat, url(../images/desktop/bg_flash_d.jpg) center no-repeat, $black;
}

.hentry {
  margin: 100px 0px 0px 0px;
}
.entry-header {
  margin-top: -60px;
  text-align: center;
}
.entry-title {
  font-size: 29px;
  span{
    color: $blue;
    font-weight: bold;
  }
}
.entry-content {
  text-align: center;
  font-size: 17px;
  line-height: 20px;
}
.banner {
		// .banner__title
		&__title {
      text-align: center;
      font-size: 24px;
      span{
        color: $blue;
      }
    }
}
