
@use 'sass:math';

@mixin dynamic-value($property, $addSize, $maxSize, $minSize, $maxVwWidth, $minVwWidth){
	#{$property}: calc(#{$addSize + px} + #{$maxSize - $minSize}*(100vw - #{$minVwWidth + px}) / (#{$maxVwWidth - $minVwWidth}))
}

@mixin btn-reset {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
	outline: none;
  &:focus {
    outline: none;
  }
	&::-moz-focus-outer{
		border: 0;
		padding: 0;
	}
	&::-moz-focus-inner{
		border: 0;
		padding: 0;
	}
}


//   @import 'components/base';  
//   @import 'components/_var';   
//    @import 'components/header/header';
//    @import 'components/grid';
//    @import 'components/sections';
//    @import 'components/button';
//    @import 'components/card';
//    @import 'components/fonts';
//    @import 'components/footer';
//    @import 'components/popup'; 
//    @import 'components/list';     
// @import 'modules/modules.scss';
// @import 'space';
@import 'additional';
@import 'fonts';
@import 'suit';

// переменныe
$white: #fff;
$black: #000;
$blue: #0090FF;
$gray: #C4C4C4;
$fxs: 14px;
$fs: 16px;
$fm: 20px;
$fb: 24px;
$fxb: 30px;
$fxxb: 40px;

// ===========переменныe



// переопределение стилей
html{
  scroll-behavior: smooth;
}
.birsday-choose{
  font-family: Play;
}

#navigation{
  top: 0!important;
}
.section-dark {
  position: relative;
  background: $black!important;
  padding: 0!important;
}
.section-gray{
  background: $gray;
}
@media (min-width: 1440px) {
  .container{
    max-width: 1280px!important;
  }
}
// =============переопределение стилей


.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}



//============== Хедер================
.header{
  position: relative;
  width: 100%;
}
.flash-bg{
  img{
    position: absolute;
    left: 50%;
    top: -5%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, 0);
    width: 640px;
    height: 920px;
    object-fit: contain;
    @media (min-width: 767.99px) {
    top: -10%;
    width: 1000px;
    }
    @media (min-width: 959.99px) {
      width: min(100%, 1920px);
      top: -60px;
    }
  }
  
}
.grid-bgg{
  img{
    position: absolute;
    left: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translate(-50%, 0);
    width: 896px;
    height: 915px;
    object-fit: contain;
    @media (min-width: 404.99px) {
      top: -6%;
    }
    @media (min-width: 767.99px) {
      width: 1037px;
      height: 935px;
    }
    @media (min-width: 991.99px) {
      width: 1050px;
    }
    @media (min-width: 1023.99px) {
      width: 1300px;
      height: 1050px;
    }
    @media (min-width: 1439.99px) {
      width: 2000px;
      height: 1412px;
    }
  }
}

.hentry {
  margin: 120px 0px 0px 0px;
  position: relative;
}
.entry-header {
  margin-top: -60px;
  text-align: center;
  
}
.entry-title {
  font-size: 29px;
  color: $white;

  span{
    color: $blue;
    font-weight: bold;
  }
}
.entry-content {
  text-align: center;
  font-size: 17px;
  line-height: 20px;
  color: $white;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  // figure{
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  // }
  // image{
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  // }
  @media (min-width: 767.99px) {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 0px 2px 80px 2px;
  }
  @media (min-width: 1439.99px) {
    justify-content: space-between;
  }
  picture{
    img{
      width: 290px;
      height: 390px!important;
    @media (min-width: 767.99px) {
      padding: 0px 0px 50px 0px;
      width: 330px;
      height: 495px!important;
    }
    @media (min-width: 1023.99px) {
      width: 400px;
      height: 590px!important;
    }
    @media (min-width: 1439.99px) {
      width: 560px;
      height: 806px!important;
    }
    }
  }
		// .banner__title
		&__title {
      margin: 25px 0px 0px 0px;
      text-align: center;
      font-size: 27px;
      color: $white;
      width: 205px;
      span{
        color: $blue;
      }
      @media (min-width: 479.99px) {
        width: 370px;
        font-size: 31px;
        margin: 65px 0px 0px 0px;
      }
      @media (min-width: 767.99px) {
        text-align: left;
        padding: 0 0 0 25px;
      }
      @media (min-width: 1023.99px) {
        margin: 60px 0px 0px 0px;
        width: 450px;
        font-size: 42px;
      }
      @media (min-width: 1439.99px) {
        width: 600px;
      }
    }
}

//==================== Секция с карточками и таблицами ================
.bg-dark{
  background-color: #000;
}
.offer {
  margin: 0px 0px 130px 0px;
  // .offer__title
  &__title {
    color: $white;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    text-transform: uppercase;
    margin: 0px auto 30px auto;
    padding: 50px 0px 0px 0px;
    span{
      color: $blue;
    }
    @media (min-width: 479.99px) {
      font-size: 30px;  
      width: 410px;
    }
    @media (min-width: 767.99px) {
      font-size: 40px;
      width: 690px;
      padding: 0px 20px;
    }
  }
  // .offer__text
  &__text {
    font-size: 18px;
    margin: 0px auto 60px auto;
    color: $white;
    @media (min-width: 479.99px) {
      font-size: 20px;
    }
    @media (min-width: 576.99px) {
      width: 450px;
    }
    @media (min-width: 767.99px) {
      font-size: 24px;
      width: 680px;
    }
  }
  // .offer__card
  &__card {}
  // .offer__add-quest
  &__add-quest {}
  // .offer__container
  &__container{
    max-width: 1280px;
    text-align: start;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    position: relative;
    top: -40px;
    align-items: center;
    @media (min-width: 767.99px) {
    }
    @media (min-width: 1023.99px) {
      flex-direction: row;
      width: 890px;
    }

    @media (min-width: 1439.99px) {
      width: 1280px;
      flex-direction: row;
    }
  
  }
}
.first-card{
  background-color: rgba(117, 117, 117, 0.2);
  width: 290px;
  @media (min-width: 479.99px) {
    width: 440px;
  }
  @media (min-width: 767.99px) {
    width: 630px;
  }
  @media (min-width: 1023.99px) {
    width: 440px;
  }
  @media (min-width: 1439.99px) {
    width: 630px;
  }
}
.second-card{
  background-color: rgba(117, 117, 117, 0.2);
  width: 290px;
  @media (min-width: 479.99px) {
    width: 440px;
  }
  @media (min-width: 767.99px) {
    width: 630px;
  }
  @media (min-width: 1023.99px) {
    width: 440px;
  }
  @media (min-width: 1439.99px) {
    width: 630px;
  }
}
.gap{
  width: 10px;
  height: 100%;
  background-color: $black;
  height: 20px;
}
h2{
  margin-bottom: 0!important;
}

.dr__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px!important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 295px;
  justify-content: center;
  @media (min-width: 479.99px) {
    width: 440px;
  }
  @media (min-width: 767.99px) {
    width: 630px;
  }
  @media (min-width: 1023.99px) {
    width: 440px;
  }
  @media (min-width: 1439.99px) {
    width: 630px;
  }
}

.dr__title__left {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  padding: 0px 5px 0px 2px;
  margin: 0 0px 2px 0;
  color: $white;
  @media (min-width: 479.99px) {
    font-size: 40px;
    margin: 0px 50px 2px 0px;
  }
  @media (min-width: 767.99px) {
    font-size: 60px;
    line-height: 60px;
    margin: 0px 0px 2px 0px;
  }
  @media (min-width: 1023.99px) {
    font-size: 40px;
    line-height: 40px;
  }
  @media (min-width: 1439.99px) {
    font-size: 60px;
    line-height: 60px;
    margin: 0px 0px 2px 0px;
  }
}

.dr__title__center {
  color: $blue;
  font-size: 85px;
  line-height: 84px;
  font-weight: 900;
  @media (min-width: 479.99px) {
    font-size: 100px;
  }
  @media (min-width: 767.99px) {
    font-size: 143px;
    margin: 0px 0px 19px 0px;
  }
  @media (min-width: 1023.99px) {
    font-size: 100px;
    margin: 0px 0px 0px 0px;
  }
  @media (min-width: 1439.99px) {
    font-size: 143px;
    margin: 0 0 20px 0;
  }
}

.dr__title__right {
  font-weight: bold;
  font-size: 15px;
  margin: 0px 0px 8px 0px;
  padding: 0px 7px 0px 0px;
  color: $white;
  @media (min-width: 479.99px) {
    font-size: 20px;
    margin: 0px 0px 3px 0px;
  }
  @media (min-width: 767.99px) {
    font-size: 40px;
    margin: 0px 0px 2px 0px;
  }
  @media (min-width: 1023.99px) {
    font-size: 20px;
  }
  @media (min-width: 1439.99px) {
    font-size: 40px;
    margin: 0px 0px 2px 0px;
  }
}

.dr__title__right strong {
  color: $blue;
  font-size: 26px;
  @media (min-width: 767.99px) {
    font-size: 50px;
  }
}

.dr__list {
  list-style-type: none;
  counter-reset: list1;
  font-size: 12px;
  position: relative;
  left: 40px;
  span{
    font-weight: bold;
    margin: 0 0 0 5px;
    color: #fff;
    @media (min-width: 479.99px) {
      font-size: 17px;
    }
    @media (min-width: 767.99px) {
      font-size: 20px;
    }
  }
}

.dr__list li {
  position: relative;
  margin-bottom: 15px;
  line-height: 20px;
  width: 250px;
  @media (min-width: 479.99px) {
    width: 390px;
  }
  @media (min-width: 767.99px) {
    width: 580px;
    margin-bottom: 40px;
  }
  @media (min-width: 1023.99px) {
    width: 390px;
  }
}

.dr__list li strong {
  color: #0090ff;
  font-weight: 900;
  font-size: 19px;
  margin: 0 0 0 5px;
  @media (min-width: 479.99px) {
    font-size: 30px;
    font-weight: 700;
  }
}

.dr__list li::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -19px;
  width: 3px;
  bottom: -40px;
  background-color: #0090ff;
  z-index: 1;
}

.dr__list li:first-child::after {
  top: 15px;
}

.dr__list li:last-child::after {
  bottom: 70%;
}

.dr__list li::before {
  z-index: 2;
  counter-increment: list1;
  content: counter(list1);
  position: absolute;
  bottom: 0;
  top: 5px;
  left: -31px;
  background-color: $blue;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: $white;
  font-weight: 700;
  padding-bottom: 3px;
}


.dr__price{
  display: flex;
  justify-content: flex-start;
  width: 290px;
  position: relative;
  @media (min-width: 479.99px) {
    width: 440px;
  }
  @media (min-width: 767.99px) {
    width: 630px;
  }
  @media (min-width: 1023.99px) {
    width: 440px;
  }
  @media (min-width: 1439.99px) {
    width: 630px;
  }
  //dr__price__left
  &__left{
    width: 145px;
    padding: 0px 0px 0px 10px;
    @media (min-width: 479.99px) {
      width: 220px;
      padding: 0px 0px 0px 10px;
    }
    @media (min-width: 767.99px) {
      width: 314px;
    }
    &:before{
      content: "";
      position: absolute;
      left: 0px;
      top: 0;
      width: 290px;
      background-color: $white;
      height: 2px;
      @media (min-width: 479.99px) {
        width: 440px;
      }
      @media (min-width: 767.99px) {
        width: 630px;
      }
      @media (min-width: 1023.99px) {
        width: 440px;
      }
      @media (min-width: 1439.99px) {
        width: 630px;
      }
    }
    &:after{
      content: "";
      position: absolute;
      left: 48%;
      top: 0;
      width: 2px;
      height: 100%;
      background-color: $white;
      @media (min-width: 479.99px) {
        left: 49%;
      }
      @media (min-width: 767.99px) {
        left: 47%;
      }
    }
  }
  //dr__price__right
  &__right{
    padding: 0px 0px 0px 10px;
    @media (min-width: 479.99px) {
      width: 220px;
      padding: 0px 0px 0px 10px;
    }
    @media (min-width: 767.99px) {
      width: 341px;
    }
  }
}
.dr__price__title {
  color: $blue;
  font-weight: 900;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 1;
  margin-top: 10px;
  @media (min-width: 479.99px) {
    font-size: 17px;
  }
  @media (min-width: 767.99px) {
    font-size: 24px;
  }
  @media (min-width: 1023.99px) {
    font-size: 17px;
  }
  @media (min-width: 1439.99px) {
    font-size: 24px;
  }
}

.dr__price__day {
  margin: 0;
  color: $white;
  font-size: 17px;
  @media (min-width: 479.99px) {
    font-size: 20px;
  }
}

.dr__price__cost {
  font-size: 21px;
  font-weight: 900;
  letter-spacing: 2px;
  margin: 0;
  color: $white;
  @media (min-width: 479.99px) {
    font-size: 30px;
  }
  @media (min-width: 767.99px) {
    font-size: 50px;
  }
  @media (min-width: 1023.99px) {
    font-size: 30px;
  }
  @media (min-width: 1439.99px) {
    font-size: 50px;
  }
}

.dr__price__cost span {
  font-size: 15px;
}

.dr__price__additional {
  margin: 0;
  line-height: 1;
  font-size: 14px;
  font-weight: 900;
  color: $white;
  width: 146px;
  @media (min-width: 767.99px) {
    font-size: 27px;
  }
}

.dr__price__description {
  font-size: 13px;
  line-height: 1;
  color: $white;
  width: 146px;
  @media (min-width: 767.99px) {
    font-size: 17px;
  }
}


.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  //table__img-top
  &__img-top{
    img{
      width: 300px;
      margin: -20px 0px 20px 0px;
      max-height: 560px;
      @media (min-width: 1023.99px) {
        display: none;
      }
    }
  }
  // .table__title
  &__title {
    color: $blue;
    font-size: 23px;
    margin: 0px 0px 20px 0px;
    text-transform: uppercase;
    @media (min-width: 479.99px) {
      font-size: 31px;
    }
    @media (min-width: 1439.99px) {
      margin: 0px 0px 25px 0px;
    }
  }
  // .table__body
  &__body {
    display: flex;
    flex-direction: column;
    @media (min-width: 479.99px) {
      align-items: center;
    }
    @media (min-width: 767.99px) {
      align-items: center;
    }
    @media (min-width: 1023.99px) {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      justify-content: space-around;
    }
  }
  // .table__content
  &__content {
  }
  // .table__img-bottom
  &__img-bottom {
    img{
      display: none;
      @media (min-width: 1023.99px) {
        display: block;
        max-height: 650px;
      }
    }
  }
}
.table-content {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(2, minmax(150px, auto));
  grid-auto-rows: minmax(50px, auto);
  @media (min-width: 576.99px){
    @media (max-width: 639.99px){
      padding: 0px 40px;
    }
  }
  @media (min-width: 1439.99px) {
    column-gap: 20px;
    grid-template-columns: 1fr repeat(2, minmax(150px, auto));
  }

  //table-content__title
  &__title{}
  // .table-content__repeater
  &__repeater {}
  // .table-content__title-3
  &__title-3 {
    grid-area: 2 span/ 2 span;
    color: $blue;
    font-size: 24px;
    line-height: 16px;
    margin: 30px 0px 0px 0px;
    text-transform: uppercase;
    align-self: center;
    text-align: start;
    @media (min-width: 479.99px) {
      font-size: 30px;
      line-height: 30px;
      position: relative;
    }@media (min-width: 767.99px) {
      position: relative;
    }
    @media (min-width: 1023.99px) {
        margin: 40px 0px 20px 0px;
    }
    span{
      font-size: 15px;
      text-transform: none;
      @media (min-width: 479.99px) {
        font-size: 20px;
      }
    }
  }
}
.content-title {
  // .content-title__1
  &__1 {
    grid-area: 1/1/2/2;
    font-size: 16px;
    text-transform: uppercase;
    color: $blue;
    line-height: 16px;
    @media (min-width: 479.99px) {
      font-size: 23px;
      line-height: 25px;
      margin: 0px 0px 20px 0px;
    }
    @media (min-width: 1439.99px) {
      grid-area: 1/2/2/3;
      margin: 0px 0px 20px 0px;
    }
  }
  // .content-title__2
  &__2 {
    grid-area: 1/2/2/3;
    font-size: 16px;
    text-transform: uppercase;
    color: $blue;
    line-height: 16px;
    @media (min-width: 479.99px) {
      font-size: 23px;
      line-height: 25px;
      margin: 0px 0px 20px 0px;
    }
    @media (min-width: 1439.99px) {
      grid-area: 1/3/2/4;
      margin: 0px 0px 20px 0px;
    }
  }
}

.content-repeater {
  grid-column: 2 span;
  display: grid;
  align-items: center;
  column-gap: 10px;
  margin: 0 0 15px 0;
  line-height: 30px;
  border-bottom: 3px solid #151515;
  padding: 0 0 10px 0;
  grid-template-columns: repeat(2, minmax(140px, auto));
  grid-template-rows: minmax(30px, auto) minmax(60px, auto);
  @media (min-width: 479.99px) {
    margin: 0px 0px 40px 0px;
  }
  @media (min-width: 1439.99px) {
    padding: 0px;
    margin: 0px;
    column-gap: 20px;
    grid-column: 3 span;
    grid-template-columns: minmax(450px,auto) repeat(2,minmax(203px,auto));
    grid-template-rows: minmax(30px, auto);
  }
  // .content-repeater__text
  &__text {
    position: relative;
    text-align: start;
    margin: 0px 0px 10px 0px;
    grid-area: 1/1/2/3;
    @media (min-width: 479.99px) {
      font-size: 30px;
    }
    @media (min-width: 1439.99px) {
      grid-area: 1/1/2/2;
    }
  }
  // .content-repeater__price-1
  &__price-1 {
    grid-area: 2/1/3/2;
    padding: 5px 10px;
    background-color: rgba(0, 144, 255, 0.1);
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    p{
      margin: 0px;
    }
    @media (min-width: 479.99px) {
      font-size: 30px;
      line-height: 35px;
    }
    @media (min-width: 1439.99px) {
      grid-area: 1/2/2/3;
    }
    span{
      font-weight: normal;
      @media (min-width: 479.99px) {
        font-size: 20px;
      }
    }
  }
  // .content-repeater__price-2
  &__price-2 {
    grid-area: 2/2/3/3;
    padding: 5px 10px;
    background-color: rgba(0, 144, 255, 0.1);
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    p{
        margin: 0px;
      }
    @media (min-width: 479.99px) {
      font-size: 30px;
      line-height: 35px;
      
    }
    @media (min-width: 1439.99px) {
      grid-area: 1/3/2/4;
    }
    span{
      font-weight: normal;
      @media (min-width: 479.99px) {
        font-size: 20px;
      }
    }
  }
}


//========================= Секция с якорными ссылками ========================
.anchor-section{
}
.grid-bg {
  margin: 0px 0px 100px 0px;
  @media (min-width: 1023.99px) {
    background: url(../images/desktop/bg_grig_d.png) center no-repeat;
    background-size: 100% 100%;
    height: 750px;
  }
}
.anchor-grid {
  display: none;
  position: relative;
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (min-width: 1023.99px) {
    display: grid;
    grid-template: repeat(2, 324px) / repeat(3, 200px);
    gap: 20px;
    height: 667px;
    width: 640px;
  }  
  @media (min-width: 1439.99px) {
    width: 800px;
    grid-template: repeat(2, 324px) / repeat(3, 253px);
  }
  // .anchor-grid__1
  &__1 {
    @media (min-width: 1023.99px) {
      grid-area: 1/1/2/2;
    }
  }
  // .anchor-grid__2
  &__2 {
    @media (min-width: 1023.99px) {
      grid-area: 1/3/2/4;
    }
  }
  // .anchor-grid__3
  &__3 {
    @media (min-width: 1023.99px) {
      grid-area: 2/1/4/2;
      align-self: start;
    }
  }
  // .anchor-grid__4
  &__4 {
    @media (min-width: 1023.99px) {
      grid-area: 1/2/3/3;
    }
  }
  // .anchor-grid__5
  &__5 {
    @media (min-width: 1023.99px) {
      grid-area: 2/3/3/4;
    }
  }
}

.anchor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media (min-width: 1023.99px) {
    align-items: center;
    height: 750px;
    width: calc(100% - 40px);
    margin: 0px auto;
  }
		// .anchor__grid
		&__grid {}
		// .anchor__links
		&__links {
      @media (min-width: 767.99px) {
        width: 400px;
      }
      @media (min-width: 1023.99px) {
        margin: 0px 0px 0px 30px;
      }
      @media (min-width: 1439.99px) {
        width: 325px;
      }
      h2{
        color: $blue;
        font-size: 30px;
        margin: 0px 0px 35px 0px!important;
        @media (min-width: 767.99px) {
          font-size: 40px;
        }
        @media (min-width: 1023.99px) {
        text-align: left;
        margin: 0 0 35px -20px!important;
        }
      }
      ul{
        margin-left: 10px;
        margin-bottom: 0;
        padding-left: 0;
        width: 100%;
          li{
          list-style-type: none;
          font-weight: bold;
          padding: 15px 0px;
          margin-bottom: 20px;
          @media (min-width: 767.99px) {
            font-size: 25px;
          }
          @media (min-width: 1023.99px) {
            font-size: 20px;
            text-align: left;
          }
          a{
            position: relative;
            cursor: pointer;
            display: inline-block;
            span{
              position: relative;
              color: $white;
            }
            &:hover:before{
              opacity: 1;
              transition: all 0.5s ease 0s;
            }
            &:before{
              content: "";
              background-color: $blue;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              width: 100%;
              height: 100%;
              overflow: hidden;
              padding: 30px 150px;
              box-shadow: 1px 2px 38px 0px rgba(0,144,255,0.5);
              opacity: 0;
              // opacity: 1;
              transition: all 0.5s ease 0s;
              @media (min-width: 767.99px) {
                padding: 30px 200px;
              }
              @media (min-width: 1023.99px) {
                padding: 0px;
                width: calc(100% + 50px);
                height: calc(100% + 25px);
              }
              @media (min-width: 1200px) {
              }
            }
          }
        }
      }
    }
}

.show {
display: block!important;
animation: fadeIn 0.8s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
      opacity: 1;
  }
}
//============================= Секция описания услуг ================================

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px 0px 10px;
  // .services__title
  &__title {
    font-size: 30px;
    margin: 0px 0px 20px 0px!important;
    @media (min-width: 1023.99px) {
      margin: 0px 0px 70px 0px!important;
    }
    span{
      color: $blue;
    }
  }
  // .services__subtitle
  &__subtitle {}
  // .services__dropdown
  &__dropdown {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
}
.anchor-link{
  position: absolute;
  width: 100%;
  height: 3px;
  top: -70px;
  opacity: 0;
}
.subtitle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 1023.99px) {
    flex-direction: row;
    justify-content: space-center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: calc(100% - 40px);
  }
  @media (min-width: 1439.99px) {
    width: 1280px;
  }
  // .subtitle__img
  &__img {
    width: 300px;
    height: 300px;
    margin: 0px 0px 15px 0px;
    object-fit: cover;
    @media (min-width: 479.99px) {
      height: 400px;
      width: 412px;
      margin: 0px 0px 40px 0px;
    }
  }
  // .subtitle__article
  &__article {
    align-self: center;
    @media (min-width: 767.99px) {
      width: 90%;
    }
    @media (min-width: 1023.99px) {
      width: 55%;
    }
  }
}
.article-mobile{
  font-size: $fxb;
  text-transform: uppercase;
  @media (min-width: 1023.99px) {
    display: none;
  }
}
.article {
  // .article__name
  &__name {
    text-transform: uppercase;
    display: none;
    @media (min-width: 1023.99px) {
      display: block;
    }
    @media (min-width: 1439.99px) {
      font-size: $fxxb;
    }
  }
  // .article__text
  &__text {
    font-size: $fs;
    @media (min-width: 576.99px) {
      width: 89%;
      margin: 0 auto;
    }
    @media (min-width: 1439.99px) {
      font-size: $fb;
    }
  }
}
.dropdown {
  margin: 0px 0px 20px 0px;
  // .dropdown__link
  &__link {
    @include btn-reset;
    font-size: 13px;
    color: $blue;
    position: relative;
    margin: 0px 0px 20px 0px;
    width: 200px;
    @media (min-width: 1023.99px) {
      font-size: 16px;
    }
    span{
      position: relative;
      top: 16px;
      left: 10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 6px 0 6px;
      border-color: $blue transparent transparent transparent;
    }
  }
  // .dropdown__content
  &__content {
  }
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: baseline;
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  margin: 0px 0px 30px 0px;
  transform: translateX(-50%);
  background-color: $black;
  position: relative;
  z-index: 100;
  // .content__box
  &__box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #001f36;
    margin: 0px 0px 10px 0px;
    text-align: start;
  }
  // .content__number
  &__number {
    font-weight: bold;
      color: $blue;
      font-size: 20px;
      padding: 0px 10px 0px 5px;
      @media (min-width: 1023.99px) {
        font-size: 30px;
      }
    }
  // .content__text
  &__text {
    font-size: 16px;
    padding: 0px 10px 0px 0px;
    @media (min-width: 1023.99px) {
      font-size: 30px;
    }
  }
}

//====================== Секция квест комната================

.quest {
  // .quest__content
  &__content {}
  // .quest__dropdown
  &__dropdown {
  }
}
.position-fix{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.quest-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (min-width: 767.99px) {
    flex-direction: column-reverse;
    padding: 30px 0px 0px 0px;
    @include dynamic-value("width", 670, 930, 670, 1023.99, 767.99 );
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
  }
  @media (min-width: 1023.99px) {
    flex-direction: row;
  }
  @media (min-width: 1439.99px) {
    width: 1280px;
  }
  // .quest-content_img
  &_img {
    margin: 0px 0px 20px 0px;
    @media (min-width: 767.99px) {
      order: 2;
    }@media (min-width: 1023.99px) {
      width: 400px;
    }
    img{
      width: 300px;
      height: 300px;
      object-fit: cover;
      @media (min-width: 479.99px) {
        width: 400px;
        height: 400px;
      }
    }
  }
  // .quest-content__title
  &__title {
    color: $black;
    font-size: 30px;
    margin: 0px auto 20px auto!important;
    padding: 50px 0px 0px 0px;
    text-transform: uppercase;
  }
  // .quest-content__text
  &__text {
    color: $black;
    font-size: $fs;
    @media (min-width: 576.99px) {
      @media (max-width: 639.99px) {
        padding: 0px 30px; 
      }
    }
    @media (min-width: 767.99px) {
      padding: 0px 16px;
      order: 1;
    }
    @media (min-width: 1023.99px) {
      width: 55%;
    }
    @media (min-width: 1439.99px) {
      font-size: $fb;
    }
  }
}
.quest-dropdown {
  // .quest-dropdown__link
  &__link {
    @include btn-reset;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: 0;
    font-size: 13px;
    color: #0090ff;
    position: relative;
    margin: 0 0 20px 0;
    span{
      position: relative;
      top: 13px;
      left: 10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 6px 0 6px;
      border-color: $blue transparent transparent transparent;
      }

  }
  // .quest-dropdown__content
  &__content {
  }
}
.quest-drop{
  display: none;
}
.quest-dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 35px 0px;
  position: relative;
  z-index: 100;
  // .quest-dropdown-content__title
  &__title {
    color: $black;
    font-size: $fs;
    font-weight: 700;
    margin: 0px 0px 7px 0px;
  }
  // .quest-dropdown-content__text
  &__text {
    color: $black;
    font-size: $fs;
    padding: 0px 10px;
    @media (min-width: 767.99px) {
      width: 645px;
      margin: 0px 0px 30px 0px;
    }
  }
  // .quest-dropdown-content__popup-btn
  &__popup-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px 0;
    @media (min-width: 767.99px) {
      flex-direction: row;
      justify-content: space-between;
      width: calc(100% - 50px);
    }
    @media (min-width: 1023.99px) {
      width: 880px;
    }
  }
}
.popup-btn {
  // .popup-btn__suit
  &__suit {
    @include btn-reset();
    cursor: pointer;
    pointer-events: auto;
    border: 2px solid $blue;
    width: 300px;
    padding: 5px 5px;
    color: $blue;
    margin: 0 0 15px 0;
    @media (min-width: 767.99px) {
      margin: 0px 0px 0px 0px;
    }
    
  }
  // .popup-btn__actor
  &__actor {
    @include btn-reset();
    cursor: pointer;
    pointer-events: auto;
    border: 2px solid $blue;
    width: 300px;
    padding: 5px 5px;
    color: $blue;
  }
  // .popup-btn__scroll-stop
  &__scroll-stop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000;
  }
}

.link_to_suit{
  width: 300px;
  padding: 10px 15px;
  background-color: $blue;
  color: $white;
  position: relative;
  top: 10px;
  &:hover{
    color: #fff;
  }
  &:active{
    padding: 8px 13px;
    box-shadow: inset 0px 0px 10px 1px #004376;
  }
}


//==================================== Секция анимации ============================
.animation{
  
  &__title{
    text-transform: uppercase;
    padding: 50px 0px 25px 0px;
    color: $white;
    font-size: $fxb;
    @media (min-width: 767.99px) {
      
    }
  }
  &__img{
    object-fit: cover;
    width: 290px;
    height: 280px;
    @media (min-width: 479.99px) {
      margin: 0px 0px 40px 0px;
      width: 400px;
      height: 400px;
    }
  }
}
.animation-dropdown__link{
  @include btn-reset;
  font-size: 13px;
  color: $blue;
  position: relative;
  margin: 0px 0px 20px 0px;
  @media (min-width: 1023.99px) {
  font-size: 16px;
  }
  span{
    position: relative;
    top: 16px;
    left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 6px 0 6px;
    border-color: $blue transparent transparent transparent;
  }

}

//=================================== Секция 7D Cinema ===========================
.grid-container {
  position: relative;
  display: flex;
  justify-content: center;
  @media (min-width: 767.99px) {
    padding: 50px 30px;
  }
}
.movie {
		// .movie__content
		&__content {
      padding: 20px 0px 20px 0px;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-rows: minmax(40px,auto) minmax(300px,auto) 1fr;
      grid-auto-columns: minmax(300px,100%);
      @media (min-width: 1023.99px) {
        gap: 10px;
        grid-template: minmax(50px, auto) minmax(350px, auto)/ 50% 50%;
      }
      @media (min-width: 1439.99px) {
        grid-template-columns: minmax(600px, 800px);
      }
    }
		// .movie__title
		&__title {
      text-transform: uppercase;
      margin: 0px 0px 15px 0px;
      grid-row: 1/2;
      color: $black;
      font-size: $fxb;
      @media (min-width: 1023.99px) {
        grid-area: 1/1/2/3;
      }
      @media (min-width: 1199.99px) {
        font-size: $fxxb;
      }
    }
		// .movie__img
		&__img {
      object-fit: cover;
      grid-row: 2/3;
      margin: 0px 0px 30px 0px;
      width: 300px;
      height: 300px;
      @media (min-width: 479.99px) {
        width: 400px;
        height: 400px;
      }
      @media (min-width: 1023.99px) {
        grid-area: 2/2/3/3;
        width: 350px;
        height: 350px;
        align-self: center;
        justify-self: center;
      }@media (min-width: 1023.99px) {
        width: 400px;
        height: 400px;
      }
    }
		// .movie__text
		&__text {
      color: $black;
      font-size: $fs;
      grid-row: 3/4;
      @media (min-width: 576.99px) {
        @media (max-width: 639.99px) {
          padding: 0px 30px; 
        }
      }
      @media (min-width: 1023.99px) {
        grid-area: 2/1/3/2;
        text-align: left;
        padding: 0px 50px 0px 0px;
      }
      @media (min-width: 1199.99px) {
        font-size: $fs;
      }
      @media (min-width: 1439.99px) {
        font-size: $fb;
      }
    }
}


//=================================== Секция Сопровождение ===========================

.support__title--order{
  color: $white;
  @media (min-width: 1439.99px) {
    justify-self: center;
  }
}
.support__text--order{
  color: $white;
  @media (min-width: 1023.99px) {
    grid-area: 2/2/3/3;
  }
  @media (min-width: 1439.99px) {
    padding: 0px 0px 0px 50px;
  }
  
}
.support__img--order{
  @media (min-width: 1023.99px) {
    grid-area: 2/1/3/2;
  }
}
.support__content{
  @media (min-width: 1439.99px) {
    grid-template: auto minmax(400px, auto)/repeat(2, minmax(400px, auto));
  }
}

//=================================== стили для модальных окон ===========================
body.lock {
	overflow: hidden;
}

.popup {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
  bottom: 0;
  right: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.7s ease 0s;
  z-index: 100;
  pointer-events: none;
}
.popup.open {
	opacity: 1;
	visibility: visible;
  pointer-events: all;
}

.popup.open .popup__content {
	transform: translate(0px, 0%);
	opacity: 1;
}

.popup__area {
  @include btn-reset();
  cursor: pointer;
  opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
	transition: all 0.7s ease 0s;
  margin-top: 70px; //если есть фиксированнвй навбар
}
.popup__content {
	background-color: #fff;
	color: #000;
	max-width: 800px;
	padding: 30px;
	position: relative;
	transition: all 0.7s ease 0s;
	opacity: 0;
	transform: translate(0px, -100%);
}
.popup__content_image {
	padding: 0;
}
.popup__image img {
	width: min(100%, 460px);
  max-height: 460px;
	vertical-align: top;
  object-fit: cover
}

.popup__close {
  @include btn-reset();
  cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	color: #000;
	text-decoration: none;
}
.popup__title {
	font-size: 40px;
	margin: 0px 0px 1em 0px;
}

.popup__text {
  font-size: $fs;
  @media (min-width: 1439.99px) {
    font-size: $fm;
  }
}